__pycache__/
poker/
interaction/
!interact/interaction/
!interact/interaction/**
script/
!interact/script/
!interact/script/**
script_test/
mess/
core.py
game_log.log
game_simple/
GameBase copy.py
game_w_battle/
interact_w_battle/
tmp/

new/
old/
process/
error_interaction/
1.md
1.py
evaluator/
evaluator_7.md
result_full/
code_example.py
script_example.py
demo.py
demo.sh
sft_mixed.sh
generate.py